!/2ndparty/
/2ndparty/*
!/2ndparty/CMakeLists.txt

!/3rdparty/
/3rdparty/*
!/3rdparty/CMakeLists.txt

### KDevelop ###
*.kdev4
.kdev4/

### Visual Studio ###
.vs/
/out/
/CMakeSettings.json

### VSCode
.vscode/
/build/
